script(src="vendor/jquery/dist/jquery.min.js")
script(src="vendor/jquery-ui/jquery-ui.min.js")
script(src="vendor/slimScroll/jquery.slimscroll.min.js")
script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="vendor/metisMenu/dist/metisMenu.min.js")
script(src="vendor/iCheck/icheck.min.js")
script(src="vendor/sparkline/index.js")
script(src="scripts/homer.js")