doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Live
		link(rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css")
		link(rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css")
		link(rel="stylesheet" href="vendor/animate.css/animate.css")
		link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css")
		link(rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css")
		link(rel="stylesheet" href="styles/style.css")

	body(class="blank hide-sidebar")
		div(id="header")
			div(class="color-line")
			
		<!-- Main Wrapper -->
		div(id="wrapper")
			div(class="content animate-panel")
				div(class="row")
					div(class="col-md-12")
						div(class="hpanel")
							div(class="panel-heading hbuilt")
								div(class="panel-tools")
								| Chat room

							div(class="panel-body no-padding")
								div(class="row")
									div(class="col-md-9")
										div(class="chat-discussion")
											div(class="chat-message left")
												img(class="message-avatar" src="images/a2.jpg" alt="")
												div(class="message")
													a(class="message-author" href="chat_view.html#") Michael Smith
													span(class="message-date")
														| Fri Jan 25 2015 - 11:12:36 
													span(class="message-content")
														| There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
											div(class="chat-message right")
												img(class="message-avatar" src="images/a2.jpg" alt="")
												div(class="message")
													a(class="message-author" href="chat_view.html#") Michael Smith 
													span(class="message-date") 
														| Fri Jan 25 2015 - 11:12:36 
													span(class="message-content")
														| There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
									div(class="col-md-3")
										div(class="chat-users")
											div(class="users-list")
												div(class="chat-user")
													span(class="pull-right label label-success") Online
													img(class="chat-avatar" src="images/a3.jpg" alt="")
													div(class="chat-user-name")
														a(href="chat_view.html#")
														| Janet Smith
												div(class="chat-user")
													img(class="chat-avatar" src="images/a1.jpg" alt="")
													div(class="chat-user-name")
														a(href="chat_view.html#")
														| Monica Smith	
							div(class="panel-footer")
								div(class="input-group")
									input(type="text" class="form-control" placeholder="Type your message here...")
									span(class="input-group-btn")
										button(class="btn btn-success") Send
			<!-- Footer-->
			footer(class="footer")
				| Company 2015-2020

		<!-- Vendor scripts -->
		script(src="vendor/jquery/dist/jquery.min.js")
		script(src="vendor/jquery-ui/jquery-ui.min.js")
		script(src="vendor/slimScroll/jquery.slimscroll.min.js")
		script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
		script(src="vendor/metisMenu/dist/metisMenu.min.js")
		script(src="vendor/iCheck/icheck.min.js")
		script(src="vendor/sparkline/index.js")
		<!-- App scripts -->
		script(src="scripts/homer.js")