doctype html
html
	include header.pug
		title Live

	body(class="blank hide-sidebar")
		div(id="header")
			div(class="color-line")
			
		<!-- Main Wrapper -->
		div(id="wrapper")
			div(class="content animate-panel")
				div(class="row")
					div(class="col-md-12")
						div(class="hpanel")
							div(class="panel-heading hbuilt")
								div(class="panel-tools")
								| Chat room

							div(class="panel-body no-padding")
								div(class="row")
									div(class="col-md-9")
										div(class="chat-discussion")
											
									div(class="col-md-3")
										div(class="chat-users")
											div(class="users-list")
													
							div(class="panel-footer")
								div(class="input-group")
									input(type="text" id="msg_txt" class="form-control" placeholder="Type your message here...")
									span(class="input-group-btn")
										button(class="btn btn-success" onclick="javascript:send();") Send
			<!-- Footer-->
			footer(class="footer")
				| Company 2015-2020
		include footer.pug
		script(type="text/javascript" src="scripts/socket.io.js")
		script(type="text/javascript" src="scripts/live.js")